<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>
<body>
    <div class="chat-container">
        <header class="chat-header">
            <h1>Bem-vindo ao ChatSAC</h1>
            <p> {{  message }} </p>
        </header>
        <div class="chat-box" id="chat-box"></div>
        <input type="text" id="user-input" placeholder="Digite sua mensagem..." />
        <button id="send-button" aria-label="Botão para enviar mensagem">Enviar</button>
    </div>
    <script src="{{ url_for('static', filename='./script.js') }}"></script>
</body>